ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

section {
  background: url('../img/pexels-pixabay-237464.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.key__list {
  display: flex;
  flex-wrap: wrap;
}

.key__item {
  border: 1px solid lawngreen;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s;
  width: 110px;
  text-align: center;
  color: antiquewhite;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 5px #000;
}

.playing {
  transform: scale(1.1);
  border-color: chartreuse;
  text-shadow: 0 0 10px chartreuse;
}

kbd {
  display: block;
  font-size: 40px;
  font-family: inherit;
}

.key__sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: chartreuse;
}

.back-link {
  position: absolute;
  color: cadetblue;
  top: 20px;
  left: 20px;
  text-decoration: none;
}
