.message {
  background: #edf5e1;
  padding: 10px 20px 10px;
  border-top: solid 2px #c4df9b;
  position: relative;
}

.message__close-btn {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  top: 0;
  right: 10px;
  border: none;
  background: transparent;
  color: darkred;
  padding: 0;
  cursor: pointer;
}
