.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  height: 100vh;
  // background: linear-gradient(rgba(73, 70, 70, 0), rgba(107, 104, 104, 0.9));
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.nav__link {
  text-decoration: none;
  padding: 10px 16px;
  margin: 4px;
  border-radius: 8px;
  background: #4fb53f;
  box-shadow: 0 10px 10px 0 #cccccc;
  display: inline-block;
}

.container {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  width: 600px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-input {
  font-size: 18px;
  flex-grow: 1;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #303030;
  border-radius: 8px;
}

.search-btn,
.load-more {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: background-color 250ms linear;
  & span {
    margin-left: 8px;
  }
}

.weather__card {
  width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px 0 #cccccc;
  background: #dcdcbfa3;
  font-weight: 500;
  color: #1d2323;
  border-radius: 8px;
}

.weather-info-item:not(:last-child) {
  margin-bottom: 10px;
}

.city-name {
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.gallery-section {
  padding: 60px 0;
}

.search-form {
  display: flex;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-input {
  height: 40px;
  flex-grow: 1;
  font-size: 18px;
  padding-left: 15px;
  border: 1px solid #303030;
}

// .search-btn,
// .load-more {
//   font-size: 14px;
//   padding: 10px 20px;
//   background-color: #2ecc71;
//   color: #ffffff;
//   border: none;
//   text-transform: uppercase;
//   cursor: pointer;
//   margin-left: 10px;
//   transition: background-color 250ms linear;
// }

.load-more {
  display: block;
  margin: 0 auto;
}

.load-more.is-hidden {
  display: none;
}

.search-btn:hover,
.search-btn:focus,
.load-more:hover,
.load-more:focus {
  background-color: #27ae60;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 20px;
}

.gallery__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  max-width: unset;
  object-fit: cover;
}
.posts-section {
  padding: 100px 0;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 5%;
  margin-bottom: 40px;
}

.posts__item {
  flex-basis: 30%;
  height: 340px;
  padding: 20px;
  box-shadow: 0 0 10px 0 #cccccc;
  overflow-y: auto;
}

.posts__title {
  font-size: 22px;
  margin-bottom: 20px;
}

.posts__text {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.4;
}

.load__more__btn {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  padding: 14px 4px;
  background-color: #34495e;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.load__more__btn.is-hidden {
  display: none;
}

.load-more-btn:hover,
.load-more-btn:focus {
  background-color: #2c3e50;
}
