.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: rgb(85, 230, 33);
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.nav__link {
  text-decoration: none;
  padding: 10px 16px;
  margin: 4px;
  border-radius: 8px;
  background: #4fb53f;
  box-shadow: 0 10px 10px 0 #cccccc;
  display: inline-block;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 40px;
  margin: 0 auto;
  box-shadow: 0 10px 10px 0 #cccccc;
}

.contact-form-input {
  height: 40px;
  padding-left: 15px;
  border: 1px solid #303030;
  margin-bottom: 20px;
}

.contact-form-message {
  height: 120px;
  padding: 15px;
  border: 1px solid #303030;
  margin-bottom: 20px;
  resize: none;
}

.contact-form-submit {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #303030;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  transition: transform 250ms linear;
}

.contact-form-submit:hover,
.contact-form-submit:focus {
  transform: scale(1.05);
}

.heroes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -50px;
}

.heroes__item {
  margin-top: 50px;
  box-shadow: 0 10px 10px 0 #cccccc;
}

.heroes__content {
  padding: 20px 10px;
}

.heroes__name {
  margin-bottom: 10px;
}

.heroes__biography-item {
  line-height: 1.4;
}

body.light-theme {
  background-color: #fff;
  color: #333333;
}

body.dark-theme {
  background-color: #333333;
  color: #fff;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  color: currentColor;
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #7878e3;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px #2196f3;
}

/* MENU */

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100% - 64px);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 24px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 8px;
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 8px;
  flex-grow: 1;
}

.card__image {
  height: 300px;
  object-fit: cover;
  max-width: 100%;
}

.card__name {
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
}

.card__descr {
  line-height: 1.5;
  flex-grow: 1;
}

.card__price {
  display: flex;
  align-items: center;
  margin-top: 24px;
  font-size: 20px;
}

.card__price i {
  margin-right: 8px;
  font-size: 24px;
}

.card__reviews {
  display: block;
  margin-top: 16px;
}

.card__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: calc(100% - 16px);
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tag-list__item {
  padding: 4px 8px;
  margin: 4px;
  border-radius: 2px;
  background-color: #3f51b5;
  color: #fff;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #2196f3;
  border: 0;
  outline: 0;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
  font: inherit;
  font-weight: 500;
  user-select: none;
  transition: background-color 250ms var(--timing-function);
}

.button:hover {
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.15);
  background-color: #1976d2;
}

.button__icon {
  margin-right: 8px;
}

.menu__item {
  width: 500px;
}
