<div class="backdrop is-hidden" data-modal>
  <button data-modal-close class="close-btn">
    <span class="material-icons-outlined"> close </span>
  </button>
  <form class="contact-form js-contact-form">
    <input
      name="name"
      type="text"
      class="contact-form-input"
      placeholder="Введіть ім'я"
    />
    <input
      name="email"
      type="email"
      class="contact-form-input js-contact-email"
      placeholder="Введіть email"
    />
    <input
      name="phone"
      type="phone"
      class="contact-form-input js-contact-phone"
      placeholder="Введіть телефон"
    />
    <button class="contact-form-submit" type="submit">submit</button>
  </form>
</div>
